<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/our_coffee.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkj0qph.css">
    <title>Our Coffee</title>
</head>
<style>
</style>
<body>
    {{>navbar}}

    <div class="our_coffee_navigation">
        <div class="our_coffee_navigation_items_container">
            <div class="our_coffee_navigation_item item_active">
                <img src="images/coffee1.png" alt="">
                <p class="muli_regular_300">Coffee Address</p>
            </div>
            <div class="our_coffee_navigation_item">
                <img src="images/coffee6.png" alt="Atlas">
                <p class="muli_regular_300">Atlas</p>
            </div>
            <div class="our_coffee_navigation_item">
                <img src="images/coffee8.png" alt="Lavazza">
                <p class="muli_regular_300">Lavazza</p>
            </div>
            <div class="our_coffee_navigation_item">
                <img src="images/coffee11.png" alt="Kimbo">
                <p class="muli_regular_300">Kimbo</p>
            </div>
        </div>
    </div>

    {{>intro_section}}

    <div class="our_coffee_section">
        <div class="our_coffee_section_headings section_main_headings">
            <h1 class="playfair_display_600">Our Coffee</h1>
            <p class="muli_regular_300">We have carefully selected great tasting coffees from around the world.</p>
            <div class="vertical_border bread_color"></div>
        </div>
    </div>

    {{>footer}}
</body>
<script src="https://kit.fontawesome.com/0b090846fe.js" crossorigin="anonymous"></script>
<script src="js/our_coffee.js"></script>
</html>