<nav id="navbar">
  <div id="left_links">
    <ul>
      <li class="nav_links nav_left_links remove_li_style"><a
          href=""
          class="remove_text_decoration"
        >Coffee at the Office</a></li>
      <li class="nav_links nav_left_links remove_li_style"><a
          href=""
          class="remove_text_decoration"
        >Coffee in Vending</a></li>
      <li class="nav_links nav_left_links remove_li_style"><a
          href=""
          class="remove_text_decoration"
        >Coffee in Cafe</a></li>
    </ul>
  </div>
  <div id="logo">
    <figure>
      <img src="images/logo2.png" class="logo" alt="Coffee Shop Logo" />
    </figure>
  </div>
  <div id="right_links">
    <ul>
      <li class="nav_links nav_right_links remove_li_style"><a
          href=""
          class="remove_text_decoration"
        >Our Coffee</a></li>
      <li class="nav_links nav_right_links remove_li_style"><a
          href=""
          class="remove_text_decoration"
        >Coffee Machines</a></li>
      <li class="nav_links nav_right_links remove_li_style"><a
          href=""
          class="remove_text_decoration"
        >Services</a>
      </li>
    </ul>
  </div>
</nav>